<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: 13F.properties -->
	<context:property-placeholder
		location="classpath:13F.properties" />




	<!-- Define your beans here -->
	<!-- Logger Bean -->
	<bean id="myLoggerConfig"
		class="com.paukyducky.regulatory.MyLoggerConfig" init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>



	<!-- Define your beans here -->
	<bean id="myDownloader"
		class="com.paukyducky.regulatory.section13F.PDFDownloader">
<!--		<property name="urlLink" value="${13F.urlLink}"/>-->
	</bean>


	<bean id="myParse13FPDF"
		class="com.paukyducky.regulatory.section13F.Parse13FPDF">
		<property name="testFileName" value="${13F.testFileName}"/>
	</bean>




</beans>





